
<ion-view view-title="Amend Player \ Roll Up" cache-view="false">
	<ion-nav-bar></ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
   	<ion-nav-view></ion-nav-view>
<ion-content ng-controller="PlayerCtrl" data-ng-init="init()">
          
  <ion-list>
  <br>
	  <div align="center">
		  
<style>
table, th , td {
  border: 0px solid grey;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
	color:yellow;
}
table tr:nth-child(odd) {
  background-color: clear;
}
table tr:nth-child(even) {
  background-color: clear;
}
</style>

		<table>

			<tr>  
				<td align="right">Club:</td><td><select ng-model="data.selectedClub" ng-change="getAllPlayers();" ng-options="item.Club as item.Club for item in Course"  ></select></td>
			</tr>
			<tr>
			    <td>Name:</td><td><select ng-model="data.selectedPlayer" ng-change="getDays()" ng-options="item.Player as item.Player for item in pp"  ></select></td>
			</tr>
			<tr>
			   <td>Roll Up Day:</td>
			   <td><select ng-model="data.selectedDay"> 
	  <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option value="Monday">Monday</option> 
      <option value="Tuesday">Tuesday</option>
	  <option value="Wednesday">Wednesday</option> 
      <option value="Thursday">Thursday</option>
	  <option value="Friday">Friday</option> 
      <option value="Saturday">Saturday</option>
	  <option value="Sunday">Sunday</option>
				  </select></td>
			</tr>
			<tr>
			   <td>Roll Up Time:</td>
			   <td><select ng-model="data.selectedTime"  ng-options="item.TeeTime as item.TeeTime for item in allTeeTimes | orderBy:'TeeTime'" ></select></td>
			</tr>
			 <tr>
	  <td>Club Handicap:</td><td><input style="height:20px; width:55px"type="text" ng-model="data.bhcp" /></td>
			 </tr>
					  <tr>
					  <td>Revised Handicap:</td><td><input style="height:20px; width:55px"type="text" ng-model="data.rbhcp" /></td>
				  </tr>
			<tr><td>Player ID:</td><td ><input style="height:20px; width:55px"type="text" ng-model="data.pid" /></td></tr>
					  <tr><td></td></tr></table>
					<table>  <tr><td></td><td><button class="button button-positive" ng-click="amendAll()">Update</button></td><td></td></tr>
				  </table>
				
	</div><br>
				  <div align="center">
				  <table >
					    <tr>
					  <td>Name:</td><td><select ng-model="data.selectedPlayer"   ng-change="refresh()" ng-options="item.Player as item.Player for item in pp" ></select></td>
				  </tr>
				  <tr>  
					  <td align="right">New Club:</td><td><select ng-model="data.selectedNewClub"  ng-options="item.Club as item.Club for item in Course" ></select></td>
				  </tr>
				
			
			
				 <tr><td></td><td><button class="button button-positive" ng-click="amendPlayer()">Update New Club</td></tr>

				 </table>

	</div>

		</ion-list>
	</ion-content>
</ion-view>


