<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ng-controller="MainCtrl">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" ></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar-stable bar-positive" >
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="dark">
      <ion-list >
        <ion-item class="dark" menu-close  href="#/app/menuB"  >
        <i class= "icon ion-flag"></i>&nbsp;&nbsp;Golf Courses
        </ion-item>
		   <ion-item menu-close href="#/app/menuA">
          <i class="icon ion-person"></i>&nbsp;&nbsp;Players 
        </ion-item>
		  
				 
        <ion-item menu-close href="#/app/menuC">
          <i class="icon ion-trophy"></i>&nbsp;&nbsp;Results
        </ion-item>
		  
        <ion-item menu-close href="#/app/rollUp">
          <i class="icon ion-person-stalker"></i>&nbsp;&nbsp;Roll Ups
        </ion-item>
         <ion-item menu-close href="#/app/scoreCard">
         <i class="icon ion-map"></i>&nbsp;&nbsp;Score Card
         </ion-item>
          <ion-item menu-close href="#/app/societySignin">
         <i class="icon ion-map"></i>&nbsp;&nbsp;Societies
         </ion-item>
        
		   <ion-item menu-close href="#/index">
        <i class="icon ion-home"></i>&nbsp;&nbsp;Home
        </ion-item>

      </ion-list>
       
    </ion-content>
      
  </ion-side-menu>
</ion-side-menus>
		<div ng-show="showFooter = true">
<ion-footer-bar class="bar bar-footer bar-energized">

</ion-footer-bar>
</div>
