<ion-view view-title={{storedClub}}  ng-controller="ResultCtrl">
<ion-nav-bar>

</ion-nav-bar>
   <ion-nav-buttons side="left">
   <button  class="button button-icon icon ion-navicon" ui-sref="app.socMenu"></button>
  </ion-nav-buttons>
    <ion-content>




			<label class="item in item-input item-select item-positive">
		<div class="input-label" style="font-size:12px">{{selectedSoc}} Players </div>
            <select ng-model="selectedPlayer.ID" ng-change="getHcp()" ng-options="item.Player as item.Player for item in Players"  ng-change="update()" ></select></label>
		<div ng-init="user.value=1">
			<ion-radio style="height:42px; font-size:12px; " ng-model="user.value" ng-checked="checked" value="1" ng-click="validateHcp(user);"><font size="3">&nbsp;Use Club Hcp (Default)&nbsp;&nbsp;</font></ion-radio>
			<ion-radio style="height:42px; font-size:12px;" ng-model="user.value" value="2" ng-click="validateHcp(user);"><font size="3"> Use Perpetual Hcp</font></ion-radio>

        </div>
         <div  ng-if="selNoOfCourses==1">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
  </tr>
    </table>
    </div>
         <div  ng-if="selNoOfCourses==2">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course2" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c2}}</label></td>
     </tr>
    </table>
    </div>
         <div  ng-if="selNoOfCourses==3">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course2" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c2}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course3" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c3}}</label></td>

    </tr>
    </table>
    </div>
    <div  ng-if="selNoOfCourses==4">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course2" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c2}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course3" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c3}}</label></td>
     <td class="col" style="height:50px" ><label><input type="radio" name="course" value="Course4" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c4}}</label></td>
    </tr>
    </table>
    </div>
    <div  ng-if="selNoOfCourses==5">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course2" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c2}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course3" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c3}}</label></td>
     <td class="col" style="height:50px" ><label><input type="radio" name="course" value="Course4" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c4}}</label></td>
     <td class="col" style="height:50px" ><label><input type="radio" name="course" value="Course5" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c5}}</label></td>
    </tr>
    </table>
    </div>
    <div  ng-if="selNoOfCourses==6">
   <table style="width:100%">
    <tr class="row header" style="height:50px">

     <td class="col" style="height:50px"><label ><input type="radio" name="course" value="Course1" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c1}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course2" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c2}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course3" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c3}}</label></td>
     <td class="col" style="height:50px" ><label><input type="radio" name="course" value="Course4" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c4}}</label></td>
     <td class="col" style="height:50px"><label><input type="radio" name="course" value="Course5" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c5}}</label></td>
     <td class="col" style="height:50px" ><label><input type="radio" name="course" value="Course6" ng-click="getCourse()"ng-model="course.one" />&nbsp;{{c6}}</label></td>
    </tr>
    </table>
    </div>
        <div layout-align='center center'layout='coloumn' >
<table style="width:100%">

		<tr class="row header" style="height:38px">
          <th class="col4">Player:</th>
          <th class="col4" colspan="3" style="width:50%" >{{selectedPlayer.ID}}</th>
          <th></th><th></th>
          <th class="col4">Hcp:</th>
		  <th class="col4" valign="top"><input class="text-center" type="text" size="10" id="MyField" ng-model="selHcp" /></th></tr>

         <tr class="row header">
           <td class="col">Hole</td>
           <td class="col1">Index</td>
           <td class="col">Par</td>
           <td class="col2">Points</td>
           <td class="col">Shots</td>
           <td class="col3">Score</td>
         </tr>
         <tr class="row" ng-repeat="par in Par">
           <td class="col">{{$index +1}}</td>
           <td class="col1">{{par.Index}}</td>
           <td class="col"> {{par.Par}}</td>
           <td class="col2">{{getPoints(par)}}</td>
           <td class="col">{{getShots(par)}}</td>
           <td class="col3" ><select ng-model="par.Score"  ng-options="item for item in items" value=""></select></td>
      	<tr class="row" style="height:32px">
           <td class="col">Total</td>
           <td class="col"></td>
           <td class="col">{{getPar()}}</td>
           <td class="col">{{getTotal()}}</td>
           <td class="col">{{getTotalShots()}}</td>
           <td class="col">{{getScoreTotal()}}</td>
        </tr>

</table>
        </div>

			   <div ><button class="button button-block button-positive" ng-click="submitScore()" >SUBMIT RESULT</button></div>

    </ion-content>


</ion-view>


