
<ion-view view-title="Leader Board"  ng-controller="ResultCtrl">
<ion-nav-bar>

</ion-nav-bar>
   <ion-nav-buttons side="left">
 <button  class="button button-icon icon ion-navicon" ui-sref="app.socMenu"></button>
  </ion-nav-buttons>
    <ion-content >

      <div class="bar bar-loading bar-assertive top-bar">
			<span >
				{{selectedSoc}}'s Results </span>
	     </div><br><br>
	  <div>
<style>
table.leaderboard, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table.leaderboard tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table.leaderboard tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<table class="leaderboard" style="width:100%" >
	<tr><th>Name</th><th>Score  </th><th>Hcp  </th><th>New Hcp</th><th>Penalty</th></tr>
	<tr ng-repeat="Score in scores | orderBy: '-Score '  ">

          <td style="text-align:left">{{Score.Player}}</td>
          <td>{{Score.Score}}</td>
          <td>{{Score.Hcp}}</td>
		  <td>{{Score.RevHcp}}</td>
		  <td>{{Score.Penalty}}</td>

	</tr>

</table>
		</div>


    </ion-content>


</ion-view>

