

<body ng-app="starter">
<ion-view view-title="Players Menu" cache-view="false">
<ion-nav-bar></ion-nav-bar>
   <ion-nav-buttons side="left">
	   <button  class="button button-icon icon ion-navicon" ui-sref="app.socMenu"></button>
   </ion-nav-buttons>
        <ion-nav-view></ion-nav-view>


    <ion-header-bar class="bar-stable bar-positive" >
      <h1 class="title">Player Menu</h1>
    </ion-header-bar>
    <ion-content class="dark">
      <ion-list >


		  <ion-item menu-close href="#/app/socResults">
          <i class="icon ion-edit"></i>&nbsp;&nbsp;Daily Results
        </ion-item>


		  <ion-item menu-close href="#/app/socLeaderBoard">
        <i class="icon ion-trophy"></i>&nbsp;&nbsp;Leader Board
        </ion-item>

		  <ion-item menu-close href="#/app/socMenu">
        <i class="icon ion-home"></i>&nbsp;&nbsp;Home
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-side-menu>
</ion-side-menus>
