

<body ng-app="starter">
<ion-view view-title="SOCIETY MENU" cache-view="false">
<ion-nav-bar></ion-nav-bar>
   <ion-nav-buttons side="left">
	    <button  class="button button-icon icon ion-navicon" ui-sref="app.socMenu"></button>
   </ion-nav-buttons>
        <ion-nav-view></ion-nav-view>


    <ion-header-bar class="bar-stable bar-positive" >
      <h1 class="title">Society Menu</h1>
    </ion-header-bar>
    <ion-content class="dark">
      <ion-list >


		  <ion-item class="dark" menu-close  href="#/app/socMenuB"  >
        <i class= "icon ion-card"></i>&nbsp;&nbsp;Courses
        </ion-item>

         <ion-item class="dark" menu-close  href="#/app/socMenuA"  >
        <i class= "icon ion-person"></i>&nbsp;&nbsp;Players
        </ion-item>


		<ion-item class="dark" menu-close  href="#/app/socMenuC"  >
        <i class= "icon ion-trophy"></i>&nbsp;&nbsp;Results
        </ion-item>

		   <ion-item class="dark" menu-close  href="#/app/socCard"  >
        <i class= "icon ion-clipboard"></i>&nbsp;&nbsp;Score Card
        </ion-item>

        <ion-item class="dark" menu-close  href="#/app/socSociety"  >
        <i class= "icon ion-person-stalker"></i>&nbsp;&nbsp;Societies
        </ion-item>

		  <ion-item class="dark" menu-close  href="#/app/socSettings"  >
        <i class= "icon ion-settings"></i>&nbsp;&nbsp;Settings
        </ion-item>
           <ion-item menu-close href="#/app/gps">
         <i class="icon ion-map"></i>&nbsp;&nbsp;GPS - Yardage
         </ion-item>
		  <ion-item menu-close href="#/index">
        <i class="icon ion-home"></i>&nbsp;&nbsp;Home
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-side-menu>
</ion-side-menus>
		<div ng-show="showFooter = true">
<ion-footer-bar class="bar bar-footer bar-energized">
			<a ng-href="#/app/societySignIn" class="button button-clear" >Society</a>
			<div class="title"><a ng-href="#/app/socCard" class="button button-clear" >Score Card</a></div>
			<a ng-href="#/app/socResults" class="button button-clear">Results</a>
</ion-footer-bar>
</div>
