@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css');                                    
.timepicker-picker .table-condensed td{text-align:center} 

.header .col {
    background-color:lightgrey;
    text-align:center;
    width: 16.6%;
    font-weight: bold;
}
.header .col1 {
    background-color:lightcoral;
    text-align:center;
    width: 16.6%;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
     border-bottom: solid 0px grey;
    padding-top:5px;
    font-weight: bold;
    
}
.header .col2 {
    background-color:lightgreen;
    text-align:center;
    width: 16.6%;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
     border-bottom: solid 0px grey;
    padding-top:5px;
    font-weight: bold;
}
.header .col3 {
    background-color:lightyellow;
    text-align:center;
    width: 16.6%;
    border-top: solid 1px grey;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    border-bottom: solid 0px grey;
    padding-top:5px;
    font-weight: bold;
}
.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 16.6%;
    text-align:center;
}
.col1 {
    background-color:lightcoral;
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 16.6%;
    text-align:center;
    border-bottom: solid 1px grey;
    padding-top:5px;
}
.col2 {
    background-color:lightgreen;
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 16.6%;
    text-align:center;
    border-bottom: solid 1px grey;
    padding-top:5px;
}
.col3 {
    background-color:lightyellow;
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 16.6%;
    text-align:center;
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
    border-top: solid 1px grey;
    padding-top:2px;
    
}
input {
    text-align: center;    
}

.col:last-child {
    border-right: solid 1px grey;
}


.row:last-child .col {
    border-bottom: solid 1px grey;
}
body {
  max-width: 30em;
  margin: 1em auto;
  text-align: center;
}

.demo {
  text-align: left;
  .input-group-btn:last-child>.btn {
    margin-top: 25px;
  }
    HTML  CSS  JS  Result
EDIT ON
 body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
RERUN
}